---
layout: layout.liquid
title: Keys
---

<img src="/images/keys.jpg" alt="Keys" class="item-photo">

<h1>Keys</h1>
<p>
  I need my keys for getting to places — my car keys and apartment keys let me get in and out of buildings and travel where I need to be.
</p>

{% tagline %}

<h3>Why I can't leave home without them</h3>
<p>Without them, I can’t drive or get back into my apartment — they’re essential.</p>