---
layout: layout.liquid
title: Lip Balm
---

<img src="/images/lip-balm.jpg" alt="Lip Balm" class="item-photo">

<h1>Lip Balm</h1>
<p>
  I can’t go anywhere without lip balm, gloss, or chapstick. From past experiences, I always keep one close, especially if I’ll be out for a long time.
</p>

{% tagline %}

<h3>Why I can't leave home without it</h3>
<p>Chapped lips are uncomfortable and distracting — lip balm keeps me comfortable and confident all day.</p>