---
layout: layout.liquid
title: Phone
---

<img src="/images/phone.jpg" alt="Phone" class="item-photo">

<h1>Phone</h1>
<p>
  My phone is my main source of communication with friends and family. I listen to music, use maps, and keep myself organized with my calendar and to-do list.
</p>

{% tagline %}

<h3>Why I can't leave home without it?</h3>
<p>It keeps me connected, safe, and organized. Everything from directions to messages and planning.</p>